body {
  font-family: 'Courier New', Courier, monospace;
}

.top-head {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-bottom: solid black;
}

h1 {
  font-size: 25px;
}

.about-section {
  margin: auto;
  float: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

.github-repo {
  font-size: 15px;
  padding: 20px;
  width: 90%;
  margin-top: 100px;
  box-sizing: border-box;
}

.about-img {
  margin: auto;
  height: auto;
  width: 50%;
  padding-left: 10px;
  float: right;
  display: block;
}

a {
  color: rgb(187, 16, 156);
}