body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #bc2ce;
  margin: 0;

}

.top-head {
  font-size: 25px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-bottom: solid black;
}

.about-section {
  margin: auto;
  float: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.about-img {
  margin: auto;
  height: auto;
  width: 50%;
  padding-left: 10px;
  float: right;
  display: block;
}