body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

.top-head {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border-bottom: solid black;
  background-color: aqua;
  margin-top: 0px;
}

h1 {
  font-size: 25px;
}

.section {
  margin: auto ;
  height: auto;
  float: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px dashed black ;
}

.section2 {
  margin-left:  ;
  height: auto;
  float: left;
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
}

.section3 {
  margin: auto;
  padding: 20px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: rgb(187, 16, 156);
}

.about-img {
  margin-top: 25px;
  height: auto;
  width: 55%;
  position: ;
  float: right;
  display: block;
}

.gitimg {
  border-radius: 50%;
  display: ;
  width: 75px;
  height: 75px;
}